

html{
    background-color: rgb(233,121,255);
}

#titleh{
    display: block;
    text-align: center;
    color: black;
    font-size: 225%;
    font-family: "Calibiri";
    font-style: italic;
    background-color: lightblue;
    
    
}


#cap {   
    
  text-align: center;
  color: purple;
  font-size: 175%;
  
  
}

#myImg{    
    display: block;
    margin-top : 100px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: auto;
    width: auto;    
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #888888;
}

#pbutton{          
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 44.5%;
    margin-right: 20;
}

#playandpausebutton{
    border-style: solid;
    border-color: black;
    border-width: 1px;
 //   margin-left: 20px;
}

#fbutton{        
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 20px;
    margin-right: auto;
}
